@import "@fontsource/inter/latin.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 152 55% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 215 19% 35%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 152 55% 28%;
    --border: 220 14% 92%;
    --input: 220 13% 82%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --placeholder: 218 11% 65%;

    --brand-dark: 18 75% 23%;
    --brand-base: 152 55% 28%;

    --danger: 0 84% 60%;
    --success: 152 60% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer base {
  body {
    font-optical-sizing: auto;
  }
}